
<style>
  nav a {
    text-decoration: none;
    color: #white;
    margin: 0 8 px;
    padding: 6 px 12 px;
    border-radius: 4 px;
    transition: all 0.4s ease;
    display: inline-block;
 }

   nav a:hover {
    background: linear-gradient(to right, #ef5da0 0%, #7b56de 100%);
    box-shadow: 0 0 10px rgba(239, 93, 160, 0.6), 0 0 20px rgba(123, 86, 222, 0.4);
    font-weight: bold;
    color: white
     
  }


  </style>

<nav>
  <a href="/DIG3171/">Home</a> |
  <a href="/DIG3171/schedule.md">Course Schedule & Project List</a>
</nav>
